/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabview-button,
#menu_tabview {
  list-style-image: url(chrome://tabgroups-plat/skin/tabview.png) !important;
}

#tabview-button {
  -moz-image-region: rect(0, 100px, 20px, 80px);
}

#tabview-button[groups="0"] {
  -moz-image-region: rect(0, 20px, 20px, 0);
}

#tabview-button[groups="1"] {
  -moz-image-region: rect(0, 40px, 20px, 20px);
}

#tabview-button[groups="2"] {
  -moz-image-region: rect(0, 60px, 20px, 40px);
}

#tabview-button[groups="3"] {
  -moz-image-region: rect(0, 80px, 20px, 60px);
}

#menu_tabview {
  -moz-image-region: rect(2px, 98px, 18px, 82px);
}

#menu_tabview[groups="0"] {
  -moz-image-region: rect(2px, 18px, 18px, 2px);
}

#menu_tabview[groups="1"] {
  -moz-image-region: rect(2px, 38px, 18px, 22px);
}

#menu_tabview[groups="2"] {
  -moz-image-region: rect(2px, 58px, 18px, 42px);
}

#menu_tabview[groups="3"] {
  -moz-image-region: rect(2px, 78px, 18px, 62px);
}
