/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabview-button,
#menu_tabview {
  list-style-image: url(chrome://tabgroups-plat/skin/tabview.png) !important;
}

/*%ifdef WINSTRIPE_AERO
:-moz-any(#TabsToolbar, #nav-bar[tabsontop=false], #toolbar-menubar) > #tabview-button:-moz-system-metric(windows-compositor):not(:-moz-lwtheme),
:-moz-any(#TabsToolbar, #nav-bar[tabsontop=false], #toolbar-menubar) > toolbarpaletteitem > #tabview-button:-moz-system-metric(windows-compositor):not(:-moz-lwtheme),
%endif*/
#tabview-button:-moz-lwtheme-brighttext {
  list-style-image: url(chrome://tabgroups-plat/skin/tabview-inverted.png) !important;
}

#tabview-button {
  -moz-image-region: rect(0, 90px, 18px, 72px);
}

#tabview-button[groups="0"] {
  -moz-image-region: rect(0, 18px, 18px, 0);
}

#tabview-button[groups="1"] {
  -moz-image-region: rect(0, 36px, 18px, 18px);
}

#tabview-button[groups="2"] {
  -moz-image-region: rect(0, 54px, 18px, 36px);
}

#tabview-button[groups="3"] {
  -moz-image-region: rect(0, 72px, 18px, 54px);
}

#menu_tabview {
  -moz-image-region: rect(1px, 89px, 17px, 73px);
}

#menu_tabview[groups="0"] {
  -moz-image-region: rect(1px, 17px, 17px, 1px);
}

#menu_tabview[groups="1"] {
  -moz-image-region: rect(1px, 35px, 17px, 19px);
}

#menu_tabview[groups="2"] {
  -moz-image-region: rect(1px, 53px, 17px, 37px);
}

#menu_tabview[groups="3"] {
  -moz-image-region: rect(1px, 71px, 17px, 55px);
}
